{% extends "base.html" %}

{% block imports %}
<style>
img {
    max-width: 100%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
</style>

{% endblock %}

{% block body %}
<div class="container">
    <div class="container">
        <h1>Accept or Reject Tracks</h1>
    </div>

    <hr>
    <div class="container">
        <div class="kv">
            <span class="key"># tracks:</span>
            <span class="value">{{ num_tracks }}</span>
        </div>
        <div class="kv">
            <span class="key"># accepted:</span>
            <span class="value">{{ num_accepted }}</span>
        </div>
        <div class="kv">
            <span class="key"># rejected:</span>
            <span class="value">{{ num_rejected }}</span>
        </div>
        <div class="kv">
            <span class="key"># unlabeled:</span>
            <span class="value">{{ num_unlabeled }}</span>
        </div>
        <div class="kv">
            <span class="key"># frames:</span>
            <span class="value">{{ num_frames }}</span>
        </div>
        <div class="kv">
            <span class="key"># seconds:</span>
            <span class="value">{{ num_seconds }}</span>
        </div>
        <div class="kv">
            <span class="key"># seconds accepted:</span>
            <span class="value">{{ num_seconds_accepted }}</span>
        </div>
        <div class="kv">
            <span class="key">Show:</span>
            <span class="value">
                <a href="/">[All]</a>
                <a href="/?select=nolabel">[Unlabeled]</a>
                <a href="/?select=accept">[Accepted]</a>
                <a href="/?select=reject">[Rejected]</a>
                <a href="/?select=flag">[Flagged]</a>
            </span>
        </div>
    </div>

    <hr>
    <div class="container">
        <span class="help">List of tracks. Click the preview strip to play video.</span>
        {% if tracks | length > 0 %}
        {% for t in tracks %}
        <div class="lblock" id="track-{{ t.id }}">
            <div class="kv">
                <span class="key">{{ t.id }}</span>
                <span class="value">{{ t.video }}, {{ t.track }}, {{ t.length }} frames</span>
                {% if t.has_3d %}
                <a href="/smpl-gif/{{ t.id }}" target="_blank">[View 3D]</a>
                {% endif %}
            </div>
            <div class="controls">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check label" name="btnrad-{{ t.id }}" id="btnrad-{{ t.id }}-unlabeled" value="" autocomplete="off" {% if t.label is none %}checked{% endif %}>
                    <label class="btn btn-sm btn-outline-secondary" for="btnrad-{{ t.id }}-unlabeled">Unlabeled</label>

                    <input type="radio" class="btn-check label" name="btnrad-{{ t.id }}" id="btnrad-{{ t.id }}-accept" value="accept" autocomplete="off" {% if t.label == "accept" %}checked{% endif %}>
                    <label class="btn btn-sm btn-outline-success" for="btnrad-{{ t.id }}-accept">Accept</label>

                    <input type="radio" class="btn-check label" name="btnrad-{{ t.id }}" id="btnrad-{{ t.id }}-reject" value="reject" autocomplete="off" {% if t.label == "reject" %}checked{% endif %}>
                    <label class="btn btn-sm btn-outline-danger" for="btnrad-{{ t.id }}-reject">Reject</label>

                    <input type="radio" class="btn-check label" name="btnrad-{{ t.id }}" id="btnrad-{{ t.id }}-garbage" value="rejectmany" autocomplete="off">
                    <label class="btn btn-sm btn-outline-warning" for="btnrad-{{ t.id }}-garbage">Reject all overlapping</label>

                    <input type="radio" class="btn-check label" name="btnrad-{{ t.id }}" id="btnrad-{{ t.id }}-flag" value="flag" autocomplete="off"
                    {% if t.label == "flag" %}checked{% endif %} >
                    <label class="btn btn-sm btn-outline-dark" for="btnrad-{{ t.id }}-flag">Flag</label>
                </div>
            </div>

            <img class="track-preview" src="/track-preview/{{ t.id }}" loading="lazy">
        </div>
        {% endfor %}
        {% else %}
        No tracks to show. Try showing all.
        {% endif %}
    </div>

    <div id="play-div" class="overlay-top-right" style="display: none;">
        <span style="margin: 0; display: block;">A GIF of the selected track.</span>
        <img id="play-gif" style="width: 480px;">
    </div>

<div class='footer-space'></div>
{% endblock %}

{% block code %}
<script>
$('.track-preview').click(function() {
    let track_id = parseInt($(this).parents('.lblock').attr('id').split('-')[1]);
    $('#play-gif').attr('src', `/track-gif/${track_id}`);
    $('#play-div').show();
});

$('input.label').change(function() {
    let elem = $(this);
    let value = elem.val();
    let track_id = elem.parents('.lblock').attr('id').split('-')[1];
    console.log(`Labeled ${track_id} with "${value}"`);

    $.ajax({
        type: 'POST',
        url: `/label/${track_id}?value=${value}`,
        success: function(data) {
            console.log('Accepted:', data)
            if (value == 'rejectmany') {
                location.reload();
            }
        },
        error: function(data) {
            console.log('Error:', data)
            alert('Failed to update label! See console.');
        }
    })
});
</script>
{% endblock %}